
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>news20170411</title>
    @Scripts.Render("~/jquery")
    @Scripts.Render("~/bootstrap")
    @Styles.Render("~/css")
</head>
<body>
<div>
    <a href="@Url.Content("~/News/news20170410")" target="_parent">
        <img src="@Url.Content("~/Content/image/00501_1.jpg")"/>
    </a>
</div>
</body>
</html>
