@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="DGMFX|外汇交易|MT4交易平台|currenex|银行间桥接|外汇交易软件" />
    <title>DGMFX--上传证件</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Scripts.Render("~/jquery")
        @Scripts.Render("~/bootstrap")
        @*<script src="~/Scripts/bootstrap/bootbox.min.js"></script>*@
    @Styles.Render("~/css")
    
    <script src="~/Scripts/icheck/icheck.min.js"></script>
    <link href="~/Scripts/icheck/skins/square/red.css" rel="stylesheet" />
   
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="~/Scripts/uploadify/jquery.uploadify.min.js"></script>
    <script src="~/Scripts/uploadify/jquery.uploadify.js"></script>

    <script type="text/javascript">
        function Upload_Person() {
            $("#file_Person").uploadify({
                'debug': false,//开启调试
                'swf': '../Scripts/uploadify/uploadify.swf',//flash
                'uploader': '../Scripts/uploadify/upload_Person.ashx',
                //'formData': { 'strFilePath': 'Test', 'typeName': _PtypeManage.getValue(), 'userName': $("#p_name").val() },
                'successTimeout': 99999,//超时时间
                //'method': 'get',//传参method要设置成get  默认post
                //'folder': 'UpLoad',//文件上传目录
                'fileObjName': 'upload_Person',
                'queueID': 'fileQueue',//显示上传列表
                'auto': false,//true 会自动上传
                'overrideEvents': ['onDialogClose'],//不执行默认的onSelect事件
                'multi': false,//true表示上传多个文件
                'fileTypeDesc': '支持的格式：',
                'fileTypeExts': '*.jpg;*.jpge;*.gif;*.png;*.bmp',
                'buttonText': '选择文件',
                'fileSizeLimit': '3MB',//0表示无限制
                'queueSizeLimit': 1,
                //'buttonImg': '../Scripts/uploadify/excel.jpg',//按钮图片路径
                'width': '80',
                'height': '21',
                //每次更新上载的文件的进展
                'onUploadProgress': function (file, bytesUploaded, bytesTotal, totalBytesUploaded, totalBytesTotal) {
                    //有时候上传进度什么想自己个性化控制，可以利用这个方法
                    //使用方法见官方说明
                },
                //选择上传文件后调用
                'onSelect': function (file) {
                },
                //返回一个错误，选择文件的时候触发
                'onSelectError': function (file, errorCode, errorMsg) {
                    switch (errorCode) {
                        case -100:
                            bootbox.alert("上传的文件数量已经超出系统限制的" + $('#file_Person').uploadify('settings', 'queueSizeLimit') + "个文件！");
                            break;
                        case -110:
                            bootbox.alert("文件 [" + file.name + "] 大小超出系统限制的" + $('#file_Person').uploadify('settings', 'fileSizeLimit') + "大小！");
                            break;
                        case -120:
                            bootbox.alert("文件 [" + file.name + "] 大小异常！");
                            break;
                        case -130:
                            bootbox.alert("文件 [" + file.name + "] 类型不正确！");
                            break;
                    }
                },
                //检测FLASH失败调用
                'onFallback': function () {
                    bootbox.alert("您未安装FLASH控件，无法上传图片！请<a href='https://get.adobe.com/cn/flashplayer/' target='_blank'>安装FLASH控件</a>后再试。");
                },
                //上传到服务器，服务器返回相应信息到data里 每个文件上传成功后都会执行
                'onUploadSuccess': function (file, data, response) {
                    if (data === file.name) {
                        bootbox.alert("文件[" + file.name + "]已经存在,请尝试重命名后再上传!");
                    }
                    else {
                        var url;
                        if ($("#formGroupPType").val() === "身份证正面") {
                            url = "@Url.Content("~/UpLoad/Credentials/IDCard/")";
                            url+=file.name;
                            bootbox.alert({
                                title: "上传证件",
                                message: "身份证正面上传成功!<a href='" + url + "' target='_blank'>点击查看</a>",
                                callback: function () { /* your callback code */ }
                            });
                        } else {
                            url = "@Url.Content("~/UpLoad/Credentials/IDCard/")";
                            url+=file.name;
                            bootbox.alert({
                                title: "上传证件",
                                message: "身份证反面上传成功!<a href='"+url+"' target='_blank'>点击查看</a>",
                                callback: function () { /* your callback code */ }
                            });
                        }
                    }
                }
                , 'onUploadStart': function (file) {
                    $("#file_Person").uploadify("settings", "formData", { 'strFilePath': 'IDCard', 'userName': $("#formGroupPName").val(), 'typeName': $("#formGroupPType").val() });
                    //在onUploadStart事件中，也就是上传之前，把参数写好传递到后台。
                }
            });

        }

        function Upload_Agency() {
            $("#file_Agency").uploadify({
                'debug': false,//开启调试
                'swf': '../Scripts/uploadify/uploadify.swf',//flash
                'uploader': '../Scripts/uploadify/upload_Agency.ashx',
                //'formData': { 'strFilePath': 'Test' },
                'successTimeout': 99999,//超时时间
                //'method': 'get',//传参method要设置成get  默认post
                //'folder': 'UpLoad',//文件上传目录
                'fileObjName': 'upload_Agency',
                'queueID': 'fileQueue',//显示上传列表
                'auto': false,//true 会自动上传
                'overrideEvents': ['onDialogClose'],//不执行默认的onSelect事件
                'multi': false,//true表示上传多个文件
                'fileTypeDesc': '支持的格式：',
                'fileTypeExts': '*.jpg;*.jpge;*.gif;*.png;*.bmp',
                'buttonText': '选择文件',
                'fileSizeLimit': '3MB',//0表示无限制
                'queueSizeLimit': 1,
                //'buttonImg': '../Scripts/uploadify/excel.jpg',//按钮图片路径
                'width': '80',
                'height': '21',
                //每次更新上载的文件的进展
                'onUploadProgress': function (file, bytesUploaded, bytesTotal, totalBytesUploaded, totalBytesTotal) {
                    //有时候上传进度什么想自己个性化控制，可以利用这个方法
                    //使用方法见官方说明
                },
                //选择上传文件后调用
                'onSelect': function (file) {
                },
                //返回一个错误，选择文件的时候触发
                'onSelectError': function (file, errorCode, errorMsg) {
                    switch (errorCode) {
                        case -100:
                            bootbox.alert("上传的文件数量已经超出系统限制的" + $('#file_Agency').uploadify('settings', 'queueSizeLimit') + "个文件！");
                            break;
                        case -110:
                            bootbox.alert("文件 [" + file.name + "] 大小超出系统限制的" + $('#file_Agency').uploadify('settings', 'fileSizeLimit') + "大小！");
                            break;
                        case -120:
                            bootbox.alert("文件 [" + file.name + "] 大小异常！");
                            break;
                        case -130:
                            bootbox.alert("文件 [" + file.name + "] 类型不正确！");
                            break;
                    }
                },
                //检测FLASH失败调用
                'onFallback': function () {
                    bootbox.alert("您未安装FLASH控件，无法上传图片！请<a href='https://get.adobe.com/cn/flashplayer/' target='_blank'>安装FLASH控件</a>后再试。");
                },
                //上传到服务器，服务器返回相应信息到data里 每个文件上传成功后都会执行
                'onUploadSuccess': function (file, data, response) {
                    if (data === file.name) {
                        alert("文件[" + file.name + "]已经存在,请尝试重命名后再上传!");
                    }
                    else {
                        var url;
                        switch ($("#formGroupAType").val()) {
                            case "公司法人身份证正面":
                                url = "@Url.Content("~/UpLoad/Credentials/IDCard/")";
                                url+=file.name;
                                bootbox.alert({
                                    title: "上传证件",
                                    message: "公司法人身份证正面上传成功!<a href='" + url + "' target='_blank'>点击查看</a>",
                                    callback: function () { /* your callback code */ }
                                });
                                break;
                            case "公司法人身份证反面":
                                url = "@Url.Content("~/UpLoad/Credentials/IDCard/")";
                                url+=file.name;
                                bootbox.alert({
                                    title: "上传证件",
                                    message: "公司法人身份证反面上传成功!<a href='" + url + "' target='_blank'>点击查看</a>",
                                    callback: function () { /* your callback code */ }
                                });
                                break;
                            case "公司营业执照":
                                url = "@Url.Content("~/UpLoad/Credentials/License/")";
                                url+=file.name;
                                bootbox.alert({
                                    title: "上传证件",
                                    message: "公司营业执照上传成功!<a href='" + url + "' target='_blank'>点击查看</a>",
                                    callback: function () { /* your callback code */ }
                                });
                                break;
                            case "公司银行账户信息":
                                url = "@Url.Content("~/UpLoad/Credentials/Bank/")";
                                url+=file.name;
                                bootbox.alert({
                                    title: "上传证件",
                                    message: "公司银行账户信息上传成功!<a href='" + url + "' target='_blank'>点击查看</a>",
                                    callback: function () { /* your callback code */ }
                                });
                                break;
                            case "公司地址证明":
                                url = "@Url.Content("~/UpLoad/Credentials/Address/")";
                                url+=file.name;
                                bootbox.alert({
                                    title: "上传证件",
                                    message: "公司地址证明上传成功!<a href='" + url + "' target='_blank'>点击查看</a>",
                                    callback: function () { /* your callback code */ }
                                });
                                break;
                            default: break;

                        }

                    }
                },
                'onUploadStart': function (file) {
                    var apath = "";
                    switch ($("#formGroupAType").val()) {
                        case "公司法人身份证正面":
                            apath = "IDCard";
                            break;
                        case "公司法人身份证反面":
                            apath = "IDCard";
                            break;
                        case "公司营业执照":
                            apath = "License";
                            break;
                        case "公司银行账户信息":
                            apath = "Bank";
                            break;
                        case "公司地址证明":
                            apath = "Address";
                            break;
                        default: break;

                    }

                    $("#file_Agency").uploadify("settings", "formData", { 'strFilePath': apath, 'typeName': $("#formGroupAType").val(), 'userName': $("#formGroupAName").val() });
                }
            });
        }
        $(document).ready(function () {
            Upload_Person();
            Upload_Agency();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[type='radio']").iCheck({
                checkboxClass: 'icheckbox_square-red',
                radioClass: 'iradio_square-red',
                increaseArea: '20%' // optional
            });

            $("input[type='radio']").on('ifChanged', function (event) {
                var type = $("input[name='POA']:checked").val();
                if (type === "Person") {
                    $(".Person").css("display", "block").css("width", "100%");
                    $(".Agency").css("display", "none");
                }
                else {
                    $(".Agency").css("display", "block").css("height", "55px");
                    $(".Person").css("display", "none");
                }
            });
        });




        function Person() {
            if ($("#formGroupPName").val() === "") {
                $("#formGroupPName").parents(".form-group").addClass("has-error");
               
                bootbox.alert({
                    size: "small",
                    title: "上传证件",
                    message: "请输入您的姓名!",
                    callback: function () { /* your callback code */ }
                });

                return;
            } else {
                $("#file_Person").uploadify('upload', '*');
            }
        }
        function Agency() {
            if ($("#formGroupAName").val() === "") {
                $("#formGroupAName").parents(".form-group").addClass("has-error");
                bootbox.alert({
                    size: "small",
                    title: "上传证件",
                    message: "请输入您的姓名!",
                    callback: function () { /* your callback code */ }
                });
                return;
            } else {
                $("#file_Agency").uploadify('upload', '*');
            }
        }
    </script>
    <style type="text/css">
        .upload{height:500px;}
        .Person {
            display: none;
        }
       .swfupload {
    margin-left: -40px;
}
    </style>
</head>
<body>
    <div class="container-fluid">
        @{Html.RenderPartial("_Top");}
        <section class="row upload openAccount">
            <div class="col-sm-12" style="height:50px;"></div>
            <div class="col-sm-9 col-sm-offset-2 form-horizontal ">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input type="radio" value="Person" name="POA" > 个人开户
                            </label>
                            <label>
                                <input type="radio" value="Agency" name="POA" checked="checked"> 机构开户
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="height:30px;"></div>
                <div class="row Person">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="formGroupPType">文件类型</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="formGroupPType">
                                    <option value="身份证正面">身份证正面</option>
                                    <option value="身份证反面">身份证反面</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="formGroupPName">姓名</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="formGroupPName" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="col-sm-6">
                            <button class="btn btn-warning"><a id="file_Person"></a></button>
                        </div>
                        <div class="col-sm-6">
                            <button id="file_Person" class="btn btn-warning" type="button" onclick="Person();">开始上传</button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6"><img id="idcard1" class="img-responsive center-block" /></div>
                        <div class="col-sm-6"><img id="idcard2" class="img-responsive center-block" /></div>
                    </div>
                </div>


                <div class="row Agency">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="formGroupAType">文件类型</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="formGroupAType">
                                    <option value="公司法人身份证正面">公司法人身份证正面</option>
                                    <option value="公司法人身份证反面">公司法人身份证反面</option>
                                    <option value="公司营业执照">公司营业执照</option>
                                    <option value="公司银行账户信息">公司银行账户信息</option>
                                    <option value="公司地址证明">公司地址证明</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="formGroupAName">姓名</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="formGroupAName" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="col-sm-6">
                            <button class="btn btn-warning"><a id="file_Agency"></a></button>
                        </div>
                        <div class="col-sm-6">
                            <button id="" class="btn btn-warning" type="button" onclick="Agency();">开始上传</button>
                        </div>
                       
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-2 col-sm-offset-1"><img id="card1" class="img-responsive center-block" /></div>
                        <div class="col-sm-2"><img id="card2" class="img-responsive center-block" /></div>
                        <div class="col-sm-2"><img id="card3" class="img-responsive center-block" /></div>
                        <div class="col-sm-2"><img id="card4" class="img-responsive center-block" /></div>
                        <div class="col-sm-2"><img id="card5" class="img-responsive center-block" /></div>





                    </div>

                </div>
            </div>
            <div class="col-sm-12" style="height:50px;"></div>
        </section>

        @{Html.RenderPartial("_Foot");}
    </div>
</body>
</html>
