
<div class="container">
    <footer>
        <div class="row text-center">
            <a href="@Url.Content("~/About/Risk")" target="_blank" class="mail">风险披露</a>|
            <a href="@Url.Content("~/About/PrivacyProtection")" target="_blank" class="mail">隐私政策</a>|
            <a href="@Url.Content("~/About/PendingStatement")" target="_blank" class="mail">挂单声明</a>|
            <a href="@Url.Content("~/About/WebsiteDisclaimer")" target="_blank" class="mail">网站免责</a>|
            <a href="@Url.Content("~/About/ComplaintsProposals")" target="_blank" class="mail">投诉建议</a>|
            <a target="_blank" href="@Url.Content("~/dgm/about")" class="mail">关于我们</a>

        </div>
        <div class="row text-center">&copy;2015 <a href="https://cn.dgmfx.com" target="_blank">cn.dgmfx.com</a>.All Rights Reserved.版权所有</div>
    </footer>
</div>

<style type="text/css">
   footer a{margin:20px 10px 10px 10px;}
   footer .row{padding-top:20px;}
</style>